{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h1>
        Your shopping cart
    </h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Product
                </th>
    
                <th>
                    Quantity
                </th>
    
                <th>
                    Remove
                </th>
                <th>
                    Unit Price
                </th>
    
                <th>
                    Price
                </th>
            </tr>
        </thead>
    
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                        <a href="{{product.get_absolute_url }}">
                            {% if product.image %}
                            
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail" style="max-height: 50px; max-width: 50px;">
                            {% else %}
                            {% static "img/no_image.png" %}
                            {% endif %}
    
    
                        </a>
                    </td>
                    <td>
                        {{product.item_name}}
                    </td>
    
                    <td>
                      
                        <form action="{% url 'cart:cart_add' product.id %}" method="post" class="form-inline">
                            {{ item.form.quantity }}
                            {{ item.form.override }}
                            
                           
                            <input type="submit" value="Update" class="btn btn-primary btn-sm ml-2">
                            {% csrf_token %}
                        </form>
                        
                    </td>
    
                    <td>
                        <form action="{% url 'cart:cart_remove' product.id %}" method="post">
                            <input type="submit" value="Remove" class="btn btn-danger btn-sm">
                            {% csrf_token %}
                        </form>
                    </td>
                    <td>
                        ${{item.price}}
                    </td>
    
                    <td>
                        ${{ item.total_price }}
                    </td>
                </tr>
    
            {% endwith %}
    
            {% endfor %}
    
            <tr>
                <td>Total</td>
                <td colspan="4"></td>
                <td>
                    ${{cart.get_total_price}}
                </td>
            </tr>
        </tbody>
    </table>
    
    <p>
        <a href="{% url 'home' %}" class="btn btn-secondary">
            Continue Shopping
        </a>
    
        <a href="#"class="btn btn-primary">
            Checkout
        </a>
    </p>
    

</div>


{% endblock %}