<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>
            {% block title %}
                My Site
            {% endblock %}
        </title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <style>
            body {
              min-height: 100vh;
              display: flex;
              flex-direction: column;
            }
        
            .content {
              flex: 1;
            }
        
            /* Add more custom styles if needed */
            .footer {
                background-color: #3e2723; /* Dark brown color */
                color: #fff; /* White text color */
                padding: 20px 0;
                text-align: center;
                }
          </style>


    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color:#3e2723; color: #fff;">
            <a class="navbar-brand"style="color: #fff;" href="#">ME</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item active">
                        <a class="nav-link" style="color: #fff;" href="{% url 'home' %}">Home</a>
                    </li>
                    <li>
                        <a class="nav-link" style="color: #fff;" href="#">About</a>
                    </li>
                </ul>
        
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="{% url 'logout'%}">
                            Logout
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="{% url 'login' %}">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="{% url 'signup'%}">
                            Signup
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        
                            {% with total_items=cart|length %}
                            {% if total_items > 0%}
                            
                            <a class="nav-link" style="color: #fff;" href="{% url 'cart:cart_detail' %}">
                                Your Cart:
                                {{ total_items }} item {{total_items|pluralize}}
                                ${{ cart.get_total_price}}
                            </a>
                            {% elif not order %}
                            <a class="nav-link" style="color: #fff;"href="#">
                                Your Cart is Empty
                        
                            </a>
                            
                            {% endif %}
                            {% endwith %}
                        
                    </li>
                </ul>
            </div>
        </nav>

        {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-lg navbar-light bg-secondary" style="background-color:#7b5e57;">
            <a class="navbar-brand" style="color: #fff;" href="#"> Hi {{ user.username }}</a>
            <div class="collapse navbar-collapse" id="navbarNav2">
                <ul class="navbar-nav me-auto">
                        
                        <li class="nav-item">
                            <a class="nav-link" style="color: #fff;" href="{% url 'user_product_service_list'%}">
                                Your Products and Services

                            </a>
                        </li>   
                        <li class="nav-item">
                           
                            <a class="nav-link" style="color: #fff;" href="{% url 'profiles:profile_detail' user.profile.pk %}">
                                Your Profile
                            </a>

                        </li>          
                </ul>

                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="{% url 'create_product' %}">Create a Product</a>  
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: #fff;" href="{% url 'create_service' %}">Create a Service</a>

                    </li>

                </ul>
            </div>
        </nav>
        {% endif %}

        <div id="container mt-4">
            {% block content %}

            {% endblock %}
        </div>



        <footer class="footer">
            <div class="container">
              <p>&copy; 2023 Your Company</p>
            </div>
          </footer>

    </body>

</html>